#footerContainer{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color:  #f16136;
}
.social{
  margin-left: 10px;
}
#insta{
  margin-right: 15px;
}
